@font-face {
  font-family: 'Icons';
  font-weight: normal;
  font-style: normal;
  src: url("./assets/fonts/icons/icons.eot") format('eot');
  src: url("./assets/fonts/icons/icons.svg") format('svg');
  src: url("./assets/fonts/icons/icons.ttf") format('truetype');
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), local('Raleway'),
  url('./assets/fonts/ralewayRegular/Raleway-Regular.ttf') format('truetype'),
  url('./assets/fonts/ralewayRegular/Raleway-Regular.svg#Raleway') format('svg');
}

@font-face {
  font-family: 'Raleway-Light';
  src: local('Raleway-Light'), local('Raleway-Light'),
  url('./assets/fonts/ralewayLight/Raleway-Light.ttf') format('truetype'),
  url('./assets/fonts/ralewayLight/Raleway-Light.svg#Raleway') format('svg');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: local('Raleway-Bold'), local('Raleway-Bold'),
  url('./assets/fonts/ralewayBold/Raleway-Bold.ttf') format('truetype'),
  url('./assets/fonts/ralewayBold/Raleway-Bold.svg#Raleway-Bold') format('svg');
}

@font-face {
  font-family: 'Raleway-Medium';
  src: local('Raleway-Medium'), local('Raleway-Medium'),
  url('./assets/fonts/ralewayMedium/Raleway-Medium.ttf') format('truetype'),
  url('./assets/fonts/ralewayMedium/Raleway-Medium.svg#Raleway') format('svg');
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: local('Raleway-SemiBold'), local('Raleway-SemiBold'),
  url('./assets/fonts/ralewaySemiBold/Raleway-SemiBold.ttf') format('truetype'),
  url('./assets/fonts/ralewaySemiBold/Raleway-SemiBold.svg#Raleway') format('svg');
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), local('OpenSans'),
  url('./assets/fonts/openSansRegular/OpenSans-Regular.ttf') format('truetype'),
  url('./assets/fonts/openSansRegular/OpenSans-Regular.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: local('OpenSans-Bold'), local('OpenSans-Bold'),
  url('./assets/fonts/openSansBold/OpenSans-Bold.ttf') format('truetype'),
  url('./assets/fonts/openSansBold/OpenSans-Bold.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'OpenSans-Light';
  src: local('OpenSans-Bold'), local('OpenSans-Bold'),
  url('./assets/fonts/openSansLight/OpenSans-Light.ttf') format('truetype'),
  url('./assets/fonts/openSansLight/OpenSans-Light.svg#OpenSans') format('svg');
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.appContainer {
  max-width: 1920px;
  margin: 0 auto;
}

#root,
#root > div {
  height: 100%;
  background-color: white !important;
}

.pageContainer {
  overflow: hidden;
  min-height: calc(100% - 120px);
  padding: 0;
}

.contentContainer {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.submitButton {
  font-family: "Raleway-Bold";
  font-weight: bold;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 14px;
  background-color: #1982CB;
  border: none;
  padding: 20px;
  cursor: pointer;
}

.submitButton:hover,
.submitButton:active,
.submitButton:focus {
  background-color: #198edb !important;
  border: none !important;
  box-shadow: none !important;
}

.rc-checkbox.nodebucksCheckbox > .rc-checkbox-inner {
  width: 17px;
  height: 17px;
}

.rc-checkbox.nodebucksCheckbox:hover .rc-checkbox-inner, .rc-checkbox-input:focus + .rc-checkbox-inner {
  border-color: #1982CB;
}

.rc-checkbox-checked .rc-checkbox-inner {
  border-color: #1982CB;
  background-color: #1982CB;
}

.rc-checkbox.nodebucksCheckbox .rc-checkbox-inner {
  border: 2px solid #1982CB;
}

.socialButtonIcon {
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  color: white;
  font-size: 16px;
}

button.disabled {
  cursor: not-allowed;
}

/*Radio Buttons Style*/
/* The container */
.radioButtonContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radioButtonContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radioButtonCheckmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radioButtonContainer:hover input ~ .radioButtonCheckmark {
  background-color: #ccc;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radioButtonCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioButtonContainer input:checked ~ .radioButtonCheckmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radioButtonContainer .radioButtonCheckmark:after {
  top: 6px;
  left: 6px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #2283C9;
}

.inputFieldContainer.form-control,
.inputFieldContainer > input.form-control {
  height: unset !important;
}

@media (max-width: 768px) {
  .contentContainer {
    padding: 10px !important;
  }
}