.dashboardContainer {
  height: 100%;
}

/*Summary Part Style */

.summaryContainer {
  max-width: 600px;
}

.summaryTableTitle {
  font-family: "DidactGothic-Regular";
  margin-bottom: 10px;
  font-size: 25px;
}

.summaryTableContainer {
  border: 1px solid;
}

.summaryValuesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: unset;
}

.summaryLabelsContainer > p {
  font-family: 'Arimo-Regular';
  margin-bottom: 5px;
}

.summaryValuesContainer > p {
  font-family: 'Arimo-Regular';
  margin-bottom: 5px;
}

/*Dashboard Main Table Style*/

.dashboardMainTable > thead > tr > th {
  text-align: center;
}

.dashboardMainTable > thead > tr > th.emptyHeader {
  border: none;
}

.dashboardMainTable > thead > tr > th.transparentBorder {
  border-top-color: transparent;
  border-right-color: transparent;
}

.mainTableContainer > .contentContainer > .submitButton:hover {
  text-decoration: none;
  color: white;
}
