.dashboardPageContainer {
  padding: 0px 40px 40px 40px;
  background-color: #fafafa;
  min-height: calc(100vh - 124px);
}

.dashboardSectionHeader {
  color: #3B3B3B;
  font-size: 24px;
  font-family: 'Raleway';
  margin-bottom: 13px;
}

.dashboardPageTitle {
  padding-top: 40px;
  color: #3B3B3B;
}

.dashboardSectionNoDataMessage{
  margin: 0;
  font-family: 'OpenSans';
  color: #686868;
  font-size: 14px;
}

/*Totals Style*/
.dashboardPageTotalsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  flex-wrap: wrap;
}

.dashboardPageTotalsRow > div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 275px;
  flex-direction: column;
  background-color: #1982CB;
  padding: 35px 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.dashboardPageTotalsRow > div > h5 {
  color: #FFFFFF;
  margin: 0 0 20px 0;
  font-size: 14px;
  font-family: 'OpenSans';
}

.dashboardPageTotalsRow > div > p {
  color: #FFFFFF;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  font-family: 'OpenSans';
}

/*Summary Part Style */
.dashboardSummaryTableContainer {
  padding: 15px;
  border: 1px solid #E7E7E7;
}

.dashboardSummaryTableContainer > .dashboardSummaryTableRowContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dashboardSummaryTableContainer > .dashboardSummaryTableRowContainer:last-child {
  margin-bottom: 0;
}

.dashboardSummaryTableContainer > .dashboardSummaryTableRowContainer > h6 {
  font-family: 'OpenSans';
  color: #686868;
  font-size: 14px;
  width: fit-content;
  margin: 0;
}

.dashboardSummaryTableContainer > .dashboardSummaryTableRowContainer > p {
  font-family: 'OpenSans-Bold';
  color: #535353;
  font-size: 14px;
  width: fit-content;
  margin: 0;
}

.dashboardSummaryTableContainer > dl > dt,
.dashboardSummaryTableContainer > dl > dd {
  font-family: 'OpenSans' !important;
}

/*Dashboard Main Table Style*/

.dashboardMainTableContainer {
  background-color: white;
  padding: 20px 0;
  border: 1px solid #E7E7E7;
}

.dashboardMainTableContainer > p > a:hover {
  text-decoration: none;
}

.dashboardMainTable > tbody > tr:hover {
  background-color: #F1F1F1;
  box-shadow: 0 2px 5px 0 #afbeca;
  cursor: pointer;
}

.dashboardMainTable > tbody > tr > td {
  vertical-align: middle;
}

.dashboardMainTable > thead > tr > th,
.dashboardMainTable > tbody > tr > td {
  text-align: center !important;
  border: none;
}

.dashboardMainTable > thead > tr > th.leftBorder,
.dashboardMainTable > tbody > tr > td.leftBorder {
  border-left: 1px solid #EEEEEE;
}

.dashboardMainTable > thead > tr > th.rightBorder,
.dashboardMainTable > tbody > tr > td.rightBorder {
  border-right: 1px solid #EEEEEE;
}

.dashboardMainTable > thead > tr > th {
  color: #3B3B3B;
  font-size: 14px;
  font-family: "Raleway-SemiBold";
}

.dashboardMainTable > tbody > tr > td {
  color: #686868;
  font-size: 14px;
  font-family: OpenSans;
  padding: 12px 5px;
}

.mainTableContainer > .contentContainer > .submitButton:hover {
  text-decoration: none;
  color: white;
}

.dashboardMainTableAddNodeButton,
.dashboardMainTableAddNodeButton {
  background-color: #FC6422;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  border-radius: 5px;
  padding: 10px 15px !important;
  color: white;
  font-size: 16px;
  font-family: 'Raleway-SemiBold';
}

.dashboardMainTableAddNodeButton:hover,
.dashboardMainTableAddNodeButton:focus {
  background-color: rgba(252, 100, 34, 0.52) !important;
  border-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  color: white;
}

.dashboardContentRightPartContainer {
  display: flex;
  flex-direction: column;
}

.dashboardContentRightPartContainer > div {
  max-width: 275px;
  min-width: 100%;
}

/*Buttons Style*/
.dashboardButtonsContainer {
  padding: 41px 0 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*Chart Style*/
.dashboardChartSectionContentContainer {
  padding: 0 15px;
}

.nodeValuesChartTab {
  background-color: #EDEDED;
  color: black;
  font-family: Raleway;
  font-weight: bold;
  padding: 6px 20px;
  width: 115px;
  margin-right: 5px;
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 3px;
}

.nodeValuesChartTab.active {
  background-color: #2283C6;
  color: white;
}

.nodeValuesChartTab:hover {
  background-color: rgba(44, 168, 255, 0.54);
  color: white;
}

.nodeValuesChartContainer {
  padding: 30px 10px 15px 15px;
  border: 1px solid #E7E7E7;
}

/*Balance Style*/
.dashboardBalanceSectionContainer {
  height: 350px;
}

.dashboardBalanceTableContainer {
  padding: 15px;
  border: 1px solid #E7E7E7;
}

.dashboardBalanceTableContainer > table > thead > tr > th {
  text-align: center !important;
  border: none;
  vertical-align: middle;
  font-family: 'Raleway-SemiBold';
  color: #3B3B3B;
  font-size: 14px;
}

.dashboardBalanceTableContainer > table > tbody > tr > td {
  text-align: center !important;
  border: none;
  vertical-align: middle;
  font-family: 'OpenSans';
  color: #686868;
  font-size: 14px;
}

.dashboardBalanceWithdrawButton {
  background-color: #1982CB;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  font-family: 'Raleway-SemiBold';
  font-size: 16px;
}

.dashboardBalanceWithdrawButton:hover,
.dashboardBalanceWithdrawButton:focus {
  background-color: #2696e1 !important;
  border-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  color: white;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .dashboardPageTotalsRow > div {
    max-width: 400px;
    margin-bottom: 10px;
  }

  .dashboardButtonsContainer {
    max-width: 200px !important;
    min-width: 200px !important;
  }
}

@media (max-width: 576px) {
  .dashboardPageContainer {
    padding: 20px 0;
  }
}

.messageBox {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  max-height: 120px;
  height: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statusSuccess {
  background-color: #E2F2F9;
}

.statusError {
  background-color: #FCD5DB;
}

.messageTitle {
  font-family: 'OpenSans';
  color: black;
}

.messageText {
  font-family: 'OpenSans';
  color: black;
}

.closeIcon {
  cursor: pointer;
  font-family: 'OpenSans';
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
}
