.faqPageHeader {
  height: 200px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}

.faqPageTitle {
  font-size: 50px;
  color: #616161;
  font-family: 'DidactGothic-Regular';
}

.faqCardHeader {
  cursor: pointer;
  display: flex;
  height: 40px;
  margin-bottom: 0;
  font-family: 'Arimo-Regular';
  align-items: center;
}

.faqCardHeader.open {
  color: #43CDEA;
}

.faqCaret {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.faqCardText {
  white-space: pre-line;
  margin-left: 30px;
  font-size: 15px;
  font-family: 'Arimo-Regular';
  margin-top: 10px;
}

@media (max-width: 450px) {
  .faqPageHeader {
    height: 100px;
  }

  .faqPageTitle {
    font-size: 30px;
  }
}