.masternodesContainer > .contentContainer {
  padding: 90px 0 0 0;
}

.masternodesHeader {
  font-family: 'Raleway-Light';
  font-size: 36px;
  color: #3A3A3A;
  text-align: center;
  margin-bottom: 40px;
}

.masternodeContactLink {
  font-family: 'Raleway-Light';
  color: #1982cb;
  text-align: center;
  display: block;
  margin: 20px auto 40px auto;
}

@media (max-width: 768px) {
  .masternodesContainer > .contentContainer {
    padding: 35px 0 !important;
  }
}
