
<div style="cursor:auto;color:#000000;font-family:Roboto-Regular, sans-serif;font-size:11px;line-height:22px;text-align:left;"><p><span style="font-size:14px;">You have requested to reset your password. Click below to reset:</span></p></div>
<a href="<%= Rails.application.secrets.base_uri -%>/reset_password/<%= @user.reset_token %>" style="text-decoration:none;background:#FD552D;color:#fff;font-family:Roboto-Regular, sans-serif;font-size:17px;font-weight:normal;line-height:120%;text-transform:none;margin:0px;" target="_blank"><strong>Reset Password</strong></a>
