.headerNavBarContainer {
  background-color: #213238 !important;
  padding: 0 !important;
  margin: 0 auto;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 0 5px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 0 5px rgba(0, 0, 0, 0.4);
}

.headerNavBarContainer > .contentContainer {
  width: 100%;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.headerNavBar {
  max-height: calc(100vh - 110px);
}

a.headerMenuItem {
  color: white !important;
  font-family: Raleway;
  font-weight: bold;
  font-size: 16px;
  margin: 0 30px !important;
  padding: 0 !important;
  border-bottom: 2px solid transparent !important;
  letter-spacing: 0.05em;
}

a.headerMenuItem.headerMenuAuthItem {
  border: none !important;
}

a.headerMenuItem.active {
  color: #2283C7 !important;
}

a.headerMenuItem:hover {
  border-bottom: 2px solid #2283C7 !important;
  color: #2283C7 !important;
}

a.headerMenuItem.headerMenuAuthItem:hover {
  border: none !important;
  color: #2283C7 !important;
}

a.headerMenuItem.active:hover {
  color: #2283C7 !important;
}

.headerNavBarToggler:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.5) !important;
}

.headerLogo {
  padding: 15px 30px 15px 0 !important;
  margin: 0;
  cursor: pointer;
}

.headerLogo > img {
  height: 30px;
}

.headerNavBar.show ~ .contentContainer ~ .headerNavBarContainer ~ .appContainer {
  overflow-y: hidden !important;
}

.headerLoggedInUserContainer {
  display: flex !important;
  align-items: center;
  padding: 8px 30px !important;
}

.headerLoggedInUserContainer::after {
  color: #FFFFFF;
}

.headerUserName {
  margin-bottom: 0;
  color: #FFFFFF;
  font-family: 'Raleway-Medium';
  font-size: 16px;
}

.headerLoggedInUserContainer:hover > .headerUserName {
  color: rgba(255, 255, 255, 0.77);
}

.headerAddNodeButton {
  background-color: #FC6422;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  border-radius: 5px;
  padding: 7px 22px !important;
  color: white;
  margin: 0 30px;
}

.headerAddNodeButton:hover,
.headerAddNodeButton:focus {
  background-color: rgba(252, 100, 34, 0.52) !important;
  border-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  color: white;
}

.headerUserAvatar {
  margin: 0 10px 0 0;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid white;
  padding: 2px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 0 5px rgba(0, 0, 0, 0.4);
}

.headerAuthMenuLoggedInDropDownItemsContainer.show {
  background-color: #35454A;
}

.headerAuthMenuLoggedInDropDownItemsContainer > .dropdown-menu {
  background-color: #213238;
  margin-top: 0;
  min-width: 100%;
}

.headerUserDropDownItem {
  border-bottom: 1px solid #556267;
  padding: 20px !important;
}

.headerAuthMenuLoggedInDropDownItemsContainer > .dropdown-menu > .headerUserDropDownItem:last-child {
  border: none;
}

.headerUserDropDownItem,
.headerUserDropDownItem > a {
  color: #FFFFFF !important;
  font-family: "Raleway";
  font-size: 16px;
  cursor: pointer;
}

.headerUserDropDownItem:hover,
.headerUserDropDownItem:hover > a {
  color: rgba(255, 255, 255, 0.77) !important;
  text-decoration: none;
  background-color: #213238;
}

.headerUserDropDownItem:focus,
.headerUserDropDownItem:active,
.headerUserDropDownItem:focus > a,
.headerUserDropDownItem:active > a {
  color: rgba(255, 255, 255, 0.77) !important;
  border: none !important;
  outline: none !important;
}

.headerAuthMenuItemsContainer {
  flex: 1;
  padding: 0 !important;
  align-items: center;
}

.headerMenuAuthText {
  font-family: 'DidactGothic-Regular';
  text-align: center;
  vertical-align: middle;
  font-size: 17px;
  line-height: 36px;
  padding: 15px 5px !important;
  margin-bottom: 0;
}

@media (max-width: 1230px) {
  .headerNavBarContainer > .contentContainer {
    margin: 10px;
  }
}

@media (max-width: 992px) {
  .headerMenuItemsContainer {
    max-width: none !important;
    align-items: center !important;
  }

  .headerAuthMenuLoggedInDropDownItemsContainer {
    display: none !important;
  }

  .headerMenuAuthItem {
    border-left: none;
    border-right: none;
  }

  .headerAuthMenuItemsContainer {
    margin: 5px !important;
  }

  .headerMenuAuthItem {
    border: none !important;
    background-color: #ffff !important;
    color: #3F53EA !important;
  }

  a.headerMenuItem {
    width: 100%;
    text-align: center;
    margin: 0 10px 10px !important;
    padding: 10px !important;
  }
}

@media (max-width: 768px) {
  .headerNavBarContainer > .contentContainer {
    margin: 0;
  }
}