.contactPageContainer {
  min-height: calc(100vh - 120px);
  padding: 0;
  justify-content: center;
  display: flex;
}

.contactPageContainer > .contentContainer {
  background-color: white;
  margin: 30px 0 70px;
  max-width: 790px;
  width: 100%;
  padding: 40px 0;
  height: fit-content;
}

.contactMainContentContainer{
  flex-basis: unset !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.contactHeader {
  margin: 15px 0 30px 0;
  font-family: 'Raleway';
  font-weight: bold;
  color: #535353;
  font-size: 30px;
}

.contactSuccessMessage{
  color: #000000;
  font-size: 16px;
  text-align: center;
}

.contactPageSubmitButton {
  font-family: "Raleway-SemiBold";
  font-weight: bold;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 16px;
  background-color: #1982CB;
  border: none;
  padding: 20px;
  cursor: pointer;
}

.contactPageSubmitButton:hover,
.contactPageSubmitButton:active,
.contactPageSubmitButton:focus {
  background-color: #198edb !important;
  border: none !important;
  box-shadow: none !important;
}


@media (max-width: 992px) {
  .contactPageContainer {
    min-height: calc(100vh - 150px);
  }
}

@media (max-width: 768px) {
  .contactPageContainer {
    min-height: calc(100vh - 170px);
    padding-top: 10px;
  }

  .contactHeader {
    margin: 10px 0;
  }

}

.contact-created-container {
  padding: 50px;
}

.contact-created-text {
  width: 500px;
  text-align: center;
}
