.authContainer {
  padding: 40px 0;
}

.authContainer > div {
  min-width: 350px;
}

.authHeader {
  margin: 10px 0 40px 0;
  font-family: 'Raleway-Bold';
  color: #000000;
  font-size: 32px;
}

.logInPageContainer {
  min-height: calc(100vh - 60px);
}

.logInHeader {
  font-family: 'Raleway';
  font-weight: 300;
  line-height: 42px;
  margin-top: 19px;
  margin-bottom: 30px;
  font-size: 30px;
  color: #000000;
}

.rememberMeCheckBox {
  color: #9D9D9D;
  font-family: 'Raleway';
  font-size: 14px;
}

.rememberMeCheckboxContainer {
  line-height: 15px;
}

.logInForgotPassword {
  color: #1982CB;
  font-family: 'Raleway';
  font-size: 14px;
}

.logInForgotPassword:hover {
  color: #3c9cdd;
}

.facebookSocialButton {
  width: 100%;
  margin-bottom: 30px;
  border: none;
  background-color: #1982CB;
  padding: 11px 40px 11px 80px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-family: 'Raleway';
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
}

.facebookSocialButton:hover {
  background-color: #23a0ea;
}

.facebookSocialButton:hover > .socialButtonIcon {
  background-color: #4873b8;
}

.facebookSocialButton > .socialButtonIcon {
  position: absolute;
  font-size: 25px;
  padding: 4px 15px !important;
  top: 0;
  left: 0;
  background-color: #3d5a94;
}

.dividerWithText {
  border-bottom: 1px solid #e3e3e3;
  text-align: center;
  height: 10px;
  margin: 10px 0 40px 0;
}

.dividerWithText > span {
  height: 20px;
  font-weight: 700;
  background-color: white;
  color: #a5a5a5;
  padding: 0 12px;
}

.logInSubmitButton {
  background-color: #1982CB !important;
  font-weight: bold;
}

.logInSubmitButton:hover {
  background-color: #3c9cdd !important;
}

.dontHaveAnAccountMessage {
  text-align: center;
  margin-top: 10px;
  font-family: "Raleway";
  font-size: 15px;
}

.dontHaveAnAccountMessage > a {
  color: #1982CB;
}

.signUpPageContainer {
  min-height: calc(100vh - 120px);
  background-color: #FAFAFA;
  padding: 25px 0;
}

.signUpPageContentContainer {
  max-width: 790px;
}

.signUpSignInText {
  text-align: center;
  margin-top: 15px;
  color: #7C7C7C;
  font-size: 14px;
  font-family: 'OpenSans';
}

.signUpSignInText > a {
  color: #1982CB;
}

.signUpSignInText > a:hover {
  text-decoration: none;
}

@media (max-width: 450px) {
  .logInHeader {
    font-size: 22px;
  }

  .facebookSocialButton {
    font-size: 15px;
    padding: 11px 20px 11px 45px;
  }

  .facebookSocialButton > .socialButtonIcon {
    font-size: 20px;
    padding: 7px 15px !important;
  }
}