.withdrawalsPageContainer {
  padding: 50px 0;
}

.withdrawalsPageHeader {
  font-family: Raleway-Light;
  color: #000000;
  font-size: 30px;
}

.withdrawalsPageTableContainer{
  border: 1px solid #DCDCDC;
}

.withdrawalsPageTableContainer > div > table > thead > tr > th {
  color: #383838;
  font-family: Raleway-SemiBold;
}

.withdrawalsPageTableContainer > div > table > tbody > tr > td {
  color: #6F6F6F;
  font-family: OpenSans;
}

.withdrawalsPageTableContainer > div > table > thead > tr > th,
.withdrawalsPageTableContainer > div > table > tbody > tr > td {
  border: none;
  text-align: center;
  min-width: 160px;
  font-size: 14px;
}