.homeMainBannerContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px 0;
}

/*Main Banner Part*/

.homeMainBannerContainer {
  position: relative;
  padding: 0;
}

.homeMainBannerContainer > .contentContainer {
  position: absolute;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 150px 0 180px 0;
}

.homeMainBannerContainer > .contentContainer > .col {
  flex-basis: unset;
  padding: 0;
}

.homeMainBannerTitle {
  color: #FFFFFF;
  font-size: 60px;
  font-family: Raleway-Light;
  margin-bottom: 60px;
}

.homeMainBannerDescription {
  color: #FFFFFF;
  font-family: 'Raleway-Light';
  font-size: 28px;
}

/*Section Part*/
.homeSectionContainer {
  background-image: url('/assets/images/homeImages/homeSectionBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.homeSectionContainer > .contentContainer {
  align-items: center;
  display: flex;
  padding: 150px 0;
}

.homeSectionContainer > .contentContainer > div {
  flex-basis: unset;
}

/*Second Section Part*/
.secondSectionItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondSectionItemContainer > h3 {
  color: #000000;
  font-size: 24px;
  font-family: "Raleway-Light";
  margin: 40px auto;
  text-align: center;
}

.secondSectionItemContainer > p {
  color: #000000;
  font-size: 16px;
  font-family: "Raleway-Light";
  text-align: center;
}

.secondSectionItemContainer > ul > li {
  color: #000000;
  font-size: 16px;
  font-family: "Raleway-Light";
}

.secondSectionItemContainer > ul > li > a {
  color: #2283C7;
}

.secondSectionItemIconContainer {
  height: 55px;
  display: flex;
  align-items: center;
  justify-items: center;
}

/*Screenshots Section Part*/
.homeScreenshotsSectionContainer {
  background-color: #EDF6FB;
  padding: 150px 0;
}

.screenshotsSectionItemContainer {
  flex-basis: unset;
  display: flex;
  align-items: center;
}

.screenshotsSectionItemContainer > div > img {
  max-width: 100%;
  box-shadow: rgba(50, 50, 93, 0.14902) 0 0 13px 1px;
}

.screenshotsSectionTextPartContainer > h2 {
  color: #000000;
  font-family: "Raleway-Light";
  font-size: 36px;
  margin-bottom: 40px;
}

.screenshotsSectionTextPartContainer > p {
  color: #000000;
  font-family: "Raleway-Light";
  font-size: 18px;
}

/*Footer Part*/

.homeFooterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1982CB;
  padding: 100px 0;
}

.homeFooterText {
  font-family: 'Raleway-Light';
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
}

.homeFooterButton {
  background-color: #FC6422;
  font-family: 'Raleway-SemiBold';
  font-size: 18px;
  color: #FFFFFF;
  padding: 20px 50px;
  line-height: 22px;
  border: none;
  margin: 50px 0 30px 0;
  cursor: pointer;
}

.homeFooterButton:hover,
.homeFooterButton:focus {
  outline: none;
  background-color: #FC6422;
}

@media (max-width: 1400px) {
  .homeMainBannerTitle {
    font-size: 40px;
    margin: 30px auto 0;
  }

  .homeMainBannerDescription {
    font-size: 19px;
  }
}

@media (max-width: 992px) {
  .homeMainBannerTitle {
    font-size: 30px;
    margin: 30px auto 20px;
  }

  .homeMainBannerDescription {
    font-size: 15px;
  }

  .homeFooterContainer {
    padding: 20px 0;
  }
}

@media (max-width: 768px) {
  .homeMainBannerContainer {
    display: block;
  }

  .homeMainBannerContainer > .contentContainer {
    top: 0;
  }

  .homeContainer > .contentContainer {
    padding: 0 10px !important;
  }

  .homeTestimonialsContainer > .contentContainer {
    padding: 35px 10px 35px 10px !important;
  }

  .homeFooterContainer > .contentContainer > div:nth-child(1) {
    margin-bottom: 20px;
  }

  .homeScreenshotsSectionContainer {
    padding: 30px 0;
  }

  .screenshotsSectionTextPartContainer > h2 {
    margin-bottom: 20px;
  }
}

@media (max-width: 640px) {
  .homeMainBannerContainer > .contentContainer > div {
    margin-left: 30px;
  }

  .homeMainBannerTitle {
    font-size: 36px;
  }

  .homeMainBannerDescription {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .homeMainBannerContainer > .contentContainer > div {
    margin-left: 20px;
  }

  .homeFooterText {
    line-height: 40px;
  }

  .screenshotsSectionTextPartContainer > h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .screenshotsSectionTextPartContainer > p {
    font-size: 15px;
  }

  .testimonialsSectionTitle {
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .homeMainBannerTitle {
    line-height: 45px;
  }

  .homeMainBannerDescription {
    line-height: 35px;
  }

  .homeMainBannerContainer > .contentContainer > div {
    max-width: 80%;
  }
}

@media (max-width: 400px) {
  .homeMainBannerTitle {
    line-height: 35px;
  }

  .homeMainBannerDescription {
    line-height: 22px;
  }

  .homeMainBannerContainer > .contentContainer > div {
    max-width: 100%;
    margin-left: 10px;
  }
}
