.homeMainBannerContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px 0;
}

.homeAlert {
  font-family: 'Raleway';
  font-size: 18px;
  color: #000000;
  text-align: center;
  background-color: #D9EDF6;
}

.homeAlert > span {
  color: #2283C7;
}

.homeMainBannerContainer > .contentContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.homeMainBannerHeaderText {
  font-family: 'Raleway-Light';
  font-size: 64px;
  color: #000000;
  text-align: center;
  margin: 0 0 40px 0;
}

.homeMainBannerHeaderText > span {
  font-family: Raleway-Medium;
}

.homeMainBannerText {
  font-family: 'Raleway-Light';
  font-size: 28px;
  color: #000000;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.homeMainBannerButton {
  text-transform: uppercase;
  background-color: #FC6422;
  font-family: 'Raleway-SemiBold';
  font-size: 18px;
  color: #FFFFFF;
  padding: 20px 50px;
  line-height: 22px;
  border: none;
  margin: 50px 0 30px 0;
  cursor: pointer;
}

.homeMainBannerButton:hover {
  background-color: rgba(252, 100, 34, 0.78);
}

.homeMainBannerButton:focus {
  outline: none;
}

@keyframes scrollAnimation {
  0% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  50% {
    transform: translate3d(0, 10%, 0) scale3d(1, 1, 1);
  }
  100% {
    transform: translate3d(0, 100%, 0) scale3d(1,, 1);
  }
}

.scrollAnimation {
  transform-origin: 50% 50%;
  animation: scrollAnimation .9s linear alternate infinite;
}

/*About Part*/
.homeAboutContainer {
  background-image: url("/assets/images/homeAboutBackground.png");
  background-size: cover;
}

.homeAboutContainer > .contentContainer {
  display: flex;
  padding: 150px 0;
  align-items: center;
}

.homeAboutTextPartContainer > h1 {
  font-size: 36px;
  font-family: 'DidactGothic-Regular';
  color: #3A3A3A;
  margin-bottom: 60px;
}

.homeAboutTextPartContainer > p {
  font-size: 18px;
  font-family: 'Arimo-Regular';
  color: #57576C;
  margin-bottom: 40px;
}

/*Testimonials Part*/

.homeTestimonialsContainer > .contentContainer {
  padding: 120px 0 80px 0;
}

.homeTestimonialsHeader {
  font-family: 'DidactGothic-Regular';
  font-size: 36px;
  color: #3A3A3A;
  text-align: center;
  margin-bottom: 60px;
}

.homeTestimonialsSlideContentContainer {
  display: flex;
  align-items: center;
}

.homeTestimonialAvatarPartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonialAvatar {
  width: 280px;
  height: 280px;
  background-size: cover;
  background-position: top center;
  margin-bottom: 40px;
}

.homeTestimonialsQuote{
  min-width: 55px !important;
}

.testimonialName {
  font-family: 'Raleway-Medium';
  color: #000000;
  font-size: 18px;
  text-align: center;
  padding-right: 10px;
  border-right: 1px solid #000000;
}

.testimonialPosition {
  font-family: 'Raleway-Light';
  color: #000000;
  font-size: 18px;
  text-align: center;
  padding-left: 10px;
}

.testimonialMessageText {
  font-family: 'Arimo-Regular';
  color: #7B7B7B;
  font-size: 18px;
  margin: 30px 0;
}

.homeTestimonialsSliderDots > li > button {
  border: 2px solid #BFC7F3;
  border-radius: 50px;
  width: 12px;
  height: 12px;
}

.homeTestimonialsSliderDots > li.slick-active > button {
  border: none !important;
  border-radius: 50px;
  width: 20px;
  height: 20px;
}

.homeTestimonialsSliderDots > li > button:before {
  color: transparent !important;
  font-size: 12px !important;
}

.homeTestimonialsSliderDots > li.slick-active > button:before {
  color: #3D58E7 !important;
  font-size: 20px !important;
}

/*Testimonials Part*/

.homeWhatIsMasternodeContainer > .contentContainer {
  padding: 120px 0;
}

.homeWhatIsMasternodeHeader {
  font-family: "Raleway-Light";
  color: #000000;
  font-size: 36px;
  text-align: center;
}

.homeWhatIsMasternodeContentPartContainer {
  margin: 60px 0 0 0;
}

.homeWhatIsMasternodeText {
  font-family: 'Raleway-Light';
  color: #000000;
  font-size: 18px;
}

.homeWhatIsMasternodeFirstDotesImageContainer > img {
  margin: 10px 0 10px 45px;
  max-width: 610px;
}

.homeWhatIsMasternodeSecondDotesImageContainer > img {
  margin: 10px 0 10px 50px;
  max-width: 610px;
}

.homeWhatIsFirstSectionParagraph,
.homeWhatIsSecondSectionParagraph {
  min-width: 600px;
}

/*Footer Part*/

.homeFooterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2283C6;
  padding: 100px 0;
}

.homeFooterButton {
  background-color: #43CDEA;
  border-radius: 50px;
  font-family: 'Karla-Regular';
  font-size: 17px;
  color: #FFFFFF;
  padding: 25px 50px;
  line-height: 22px;
  border: none;
  cursor: pointer;
}

.homeFooterButton:hover {
  background-color: #47e2ff;
}

.homeFooterText {
  font-family: 'DidactGothic-Regular';
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
}

.homeFooterText > span {
  color: #49FFF4;
}

@media (max-width: 992px) {

  .homeAboutContainer > .contentContainer {
    padding: 35px 0 !important;
  }

  .homeAboutContainer > .contentContainer > .homeAboutTextPartContainer {
    margin-top: 50px;
  }

  .homeFooterContainer {
    padding: 20px 0;
  }

  .homeWhatIsMasternodeFirstDotesImageContainer,
  .homeWhatIsMasternodeSecondDotesImageContainer {
    display: none;
  }

  .homeWhatIsMasternodeContentPartContainer {
    margin-top: 20px;
  }

  .homeWhatIsFirstSectionParagraph,
  .homeWhatIsSecondSectionParagraph {
    min-width: unset;
  }

  .homeWhatIsMasternodeContainer > .contentContainer {
    padding: 35px 0 !important;
  }
}

@media (max-width: 768px) {

  .homeMainBannerPopUpMessagePartContainer {
    margin: 0;
    padding: 20px 40px;
  }

  .homeTestimonialsContainer > .contentContainer {
    padding: 35px 10px 35px 10px !important;
  }

  .homeMainBannerHeaderText {
    margin: 20px 0;
    font-size: 50px;
  }

  .homeMainBannerText {
    font-size: 25px;
  }

  .homeFooterContainer > .contentContainer > div:nth-child(1) {
    margin-bottom: 20px;
  }
}

@media (max-width: 641px) {
  .homeMainBannerPopUpMessagePartContainer {
    margin: 0;
    padding: 20px 20px;
  }

  .homeMainBannerPopUpMessagePartContainer > p {
    font-size: 18px;
  }

  .homeMainBannerHeaderText {
    margin: 20px 0;
    font-size: 40px;
    line-height: 40px;
  }

  .homeMainBannerText {
    font-size: 18px;
  }

  .homeMainBannerButton {
    margin: 40px 0;
  }
}

@media (max-width: 576px) {
  .homeFooterText {
    line-height: 40px;
  }

  .homeAboutContainer > .contentContainer > div > img {
    width: 150px;
    height: 150px;
  }
}
