.selected {
  border: 1px dashed lightgray;
  background-color: rgba(0, 0, 0, .03);
}

.clickable {
  cursor: pointer;
}

.purchasePageRefreshButton {
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #4D91CD;
  color: #4D91CD;
  padding: 10px 25px;
  cursor: pointer;
  font-family: 'Raleway-Bold';
  font-size: 15px;
  width: fit-content;
  margin: 6px auto 0;
}

.purchasePageRefreshButton:hover {
  border: 1px solid #55a9ed;
  color: #55a9ed;
  background-color: transparent;
}

.purchasePageRefreshButton.disabled:hover {
  border-color: #6c757d;
  background-color: #6c757d;
  color: white;
  cursor: not-allowed;
}

.purchasePageRefreshButton:active,
.purchasePageRefreshButton:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #55a9ed !important;
  color: #55a9ed !important;
  background-color: transparent !important;
}

.purchasePageRefreshButton > svg {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari */
  transform: rotate(-90deg); /* Standard syntax */
}

.purchasePageSpreadText {
  font-family: 'OpenSans';
  color: #686868;
  font-size: 14px;
}

.purchasePageSpreadText > span {
  background-color: #EEEEEE;
  border-radius: 50px;
  padding: 2px 9px;
  margin-left: 10px;
  cursor: pointer;
}

.spreadTooltipContainer {
  opacity: 1 !important;
}

.spreadTooltipContainer > .tooltip-inner {
  background-color: #EEEEEE;
  font-size: 13px;
  color: #383838;
  font-family: 'OpenSans';
  max-width: 270px !important;
  padding: 20px;
  text-align: left;
}

.spreadTooltipContainer > .tooltip-inner > span {
  font-family: 'OpenSans-SemiBold';
}

.spreadTooltipContainer > .tooltip-inner {
  background-color: #EEEEEE;
  font-size: 13px;
  color: #383838;
  font-family: 'OpenSans';
}

.spreadTooltipContainer > .arrow {
  display: none;
}

.spreadWarningMessageContainer {
  font-family: 'Raleway';
  color: #d32a2e;
  font-size: 15px;
  margin-top: 10px;
}

.spreadWarningMessageContainer > p {
  margin-bottom: 0;
  text-align: center;
}

.purchasePagePricingInfoPartContainer {
  background-color: #FAFAFA;
  padding: 20px 0;
  margin: 40px 0 30px;
}

.purchasePageCountDown {
  font-family: 'OpenSans';
  color: #000000;
  font-size: 24px;
}

.purchasePagePriceInfo,
.purchasePageCheckbox {
  font-family: 'Raleway';
  font-size: 16px;
  color: #000000;
}

.purchasePageCheckbox.text-danger > a {
  color: #dc3545;
  text-decoration: underline;
}

.purchasePageHeader {
  color: #000000;
}

.purchasePageLinksContainer {
  margin: 15px 0 30px 0;
}

.purchasePageLinksContainer > a {
  color: #2283C7;
  font-size: 16px;
  font-family: 'Raleway-SemiBold';
  margin: 0 15px;
  display: flex;
  align-items: center;
  line-height: 9px;
}

.purchasePageLinksContainer > a > svg {
  width: 25px !important;
  height: 25px !important;
  margin-right: 5px;
}

.purchasePageLinksContainer > a:hover,
.purchasePageLinksContainer > a:hover > svg {
  text-decoration: none;
  color: #2795e0;
}

.purchasePageCrpytoDataContainer > div > h6 {
  font-family: 'OpenSans';
  color: #000000;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

.purchasePageCrpytoDataContainer > div > p,
.purchasePageCrpytoDataContainer > div > div > p {
  font-family: 'OpenSans-Light';
  color: #000000;
  text-align: center;
  font-size: 26px;
}

.purchaseNodeAuthPartTabs {
  min-width: 350px;
  display: flex;
  padding: 0 10px;
  flex-wrap: wrap;
}

.purchaseNodeAuthPartTabs > div {
  display: flex;
  background-color: #EDEDED;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  cursor: pointer;
}

.purchaseNodeAuthPartTabs > div > p {
  margin-bottom: 0;
  font-family: Raleway-SemiBold;
  font-size: 14px;
  color: #000000;
}

.purchaseNodeAuthPartTabs > div.selectedAuthTab {
  background-color: #2283C6;
}

.purchaseNodeAuthPartTabs > div.selectedAuthTab > p {
  color: #FFFFFF;
}

.purchasePageLinkText {
  color: #2283C7;
  cursor: pointer;
}

.purchasePageLinkText:hover {
  color: #2395e3;
  cursor: pointer;
}

.purchasePagePaymentFormContainer {
  max-width: 500px;
  margin: 0 auto;
}

.purchasePagePaymentFormContainer > form > label {
  font-family: 'Raleway';
  font-size: 14px;
  color: #000000;
}

.purchasePagePaymentFormContainer > form > label > .StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: 'Source Code Pro', monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: #FAFAFA;;
  width: 100%;
}

.purchasePagePaymentFormContainer > form > label > .StripeElement--focuss {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.purchasePagePaymentFormContainer > form > label > .StripeElement.IdealBankElement,
.purchasePagePaymentFormContainer > form > label > .StripeElement.PaymentRequestButton {
  padding: 0;
}

.paymentFormMessageContainer {
  max-width: 500px;
}

.purchaseNodeButton {
  font-family: "Raleway-SemiBold";
  color: #FFFFFF;
  font-size: 16px;
  line-height: 16px;
  background-color: #FC641C;
  border: none;
  padding: 20px;
  cursor: pointer;
  width: 100%;
}

.purchaseNodeButton:hover,
.purchaseNodeButton:active,
.purchaseNodeButton:focus {
  background-color: rgba(252, 100, 28, 0.7) !important;
  border: none !important;
  box-shadow: none !important;
}

.paypalButtonContainer {
  position: relative;
}

.paypalButtonContainer > div > div > div > .xcomponent-outlet {
  margin: 0 auto;
  display: block !important;
  width: 250px !important;
  height: 64px !important;
}

.helpingElement {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.purchasePageWithCryptoPaymentMessage {
  font-family: 'Raleway';
  font-size: 16px;
  color: #000000;
  text-align: center;
  display: block;
  margin-top: 20px;
  width: 100%;
}

/*Show Page Style*/
.showPageContainer {
  background-color: #FAFAFA;
  min-height: calc(100vh - 120px);
  padding-bottom: 40px;
}

.showPageContentContainer {
  max-width: 1110px;
  padding: 0;
}

.showPageHeaderContainer {
  padding: 30px 0;
  border-bottom: 1px solid #D5D8D9;
}

.showPageHeaderCoinName {
  font-family: Raleway-Light;
  font-size: 30px;
  color: #000000;
}

.showPageHeaderInfo {
  font-family: OpenSans;
  color: #383838;
  font-size: 16px;
}

.addNodeButton {
  background-color: #FC6422;
}

.addNodeButton:focus,
.addNodeButton:active,
.addNodeButton:hover {
  background-color: rgba(252, 100, 34, 0.67) !important;
}

.showPageSectionHeader {
  color: #3B3B3B;
  font-size: 24px;
  font-family: Raleway-Light;
  margin-bottom: 13px;
}

.showPageHistoryTable > thead > tr > th {
  font-family: Raleway-SemiBold;
  font-size: 14px;
  color: #383838;
}

.showPageHistoryTable > tbody > tr > td {
  font-family: OpenSans;
  font-size: 14px;
  color: #383838;
}

.showPageHistoryTable > thead > tr > th,
.showPageHistoryTable > tbody > tr > td {
  border: none;
  text-align: center;
  min-width: 180px;
}

.showPageHistoryTableButton {
  background-color: #EEEEEE;
  border: none;
  color: #213238;
  font-weight: bold;
  font-family: Raleway;
  padding: 10px 25px;
}

.showPageHistoryTableButton:focus,
.showPageHistoryTableButton:active,
.showPageHistoryTableButton:visited,
.showPageHistoryTableButton:hover {
  background-color: #EEEEEE;
  color: #3a5760;
  border: none;
  outline: none;
  box-shadow: none;
}

.showPageRadioButtonTitle {
  color: #383838;
  font-size: 14px;
  margin-bottom: 0;
  font-family: OpenSans-SemiBold;
}

.showPageRadioButtonDescription {
  font-family: OpenSans;
  color: #686868;
  font-size: 12px;
  margin-bottom: 0;
}

.showPageRewardSettingsInputField {
  opacity: 100 !important;
  position: relative !important;
  padding: 5px 15px;
  margin-top: 10px;
  font-family: Raleway;
  font-size: 14px;
  cursor: text !important;
  width: 100%;
}

.showPageRewardSettingsInputField::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7C7C7C;
  font-family: Raleway;
  font-size: 14px;
}

.showPageRewardSettingsInputField::-moz-placeholder { /* Firefox 19+ */
  color: #7C7C7C;
  font-family: Raleway;
  font-size: 14px;
}

.showPageRewardSettingsInputField:-ms-input-placeholder { /* IE 10+ */
  color: #7C7C7C;
  font-family: Raleway;
  font-size: 14px;
}

.showPageRewardSettingsInputField:-moz-placeholder { /* Firefox 18- */
  color: #7C7C7C;
  font-family: Raleway;
  font-size: 14px;
}

.rewardSettingsUpdateButton {
  padding: 10px 25px;
  margin-left: 35px;
  line-height: 24px;
}

.rewardSettingsUpdateButton.disabled {
  background-color: #1aa8f8 !important
}

.priceHistoryChartPeriodContainer {
  margin-bottom: 15px;
}

.priceHistoryChartPeriodContainer > p {
  padding: 0 6px 0;
  margin-bottom: 0;
  color: #888888;
  font-size: 12px;
  cursor: pointer;
  min-width: 31px;
}

.priceHistoryChartPeriodContainer > p.selectedPeriod {
  border: 1px solid #888888;
  border-radius: 20px;
}

.priceHistoryChartPeriodContainer > p:hover {
  color: #acacac;
}

.showPageSectionBorderedPartContainer {
  border: 1px solid #E7E7E7;
}

dd {
  font-family: OpenSans;
  font-size: 14px;
  color: #686868;
}

dt {
  font-family: OpenSans-SemiBold;
  font-size: 14px;
  color: #383838;
}

/*Sell Page Style*/
.sellPageContainer,
.withdrawPageContainer,
.purchasePageContainer {
  min-height: calc(100vh - 120px);
  background-color: #FAFAFA;
}

.sellPageContentContainer,
.withdrawPageContentContainer,
.purchasePageContentContainer {
  max-width: 850px;
  padding-bottom: 50px;
}

.sellPageBackButton,
.withdrawPageBackButton,
.purchasePageBackButton {
  padding: 15px 0;
  cursor: pointer;
  font-family: Raleway;
  font-weight: bold;
  font-size: 14px;
  color: #2283C7;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0;
}

.sellPageBackButton > img,
.withdrawPageBackButton > img,
.purchasePageBackButton > img {
  margin-right: 10px;
}

.sellPageBackButton:hover,
.withdrawPageBackButton:hover,
.purchasePageBackButton:hover {
  color: #2499e7;
}

.sellPageMainContentContainer,
.withdrawPageMainContentContainer,
.purchasePageMainContentContainer {
  background-color: white;
  padding: 30px;
}

.sellPageHeaderText {
  color: #000000;
}

.sellPagePriceSectionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px 0;
}

.sellPagePriceSectionContainer > p {
  font-family: Raleway;
  font-size: 16px;
  color: #000000;
  margin: 0;
}

.sellPagePriceAmount {
  font-family: "OpenSans";
  font-weight: bold;
  font-size: 25px;
  color: #3B3B3B;
  vertical-align: middle;
  align-items: center;
  display: flex;
  margin-bottom: 0;
}

.sellPagePriceAmount > div,
.sellPagePriceAmount > s,
.sellPagePriceAmount > span {
  margin: 0 10px;
}

.sellPagePaymentDestinationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sellPagePaymentDestinationSectionsContainer {
  margin: 25px 0;
}

.sellPagePaymentDestinationHeaderText {
  color: #3B3B3B;
  font-weight: bold;
  font-family: Raleway;
  font-size: 18px;
}

.sellPagePaymentDestinationSectionContainer {
  cursor: pointer;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  margin: 0 5px 10px 0;
  padding: 20px 30px;
  max-width: 275px;
}

.sellPagePaymentDestinationSectionContainer.selected {
  border: 1px solid #3D93CE;
  background-color: transparent;
}

.sellPagePaymentDestinationSectionHeader {
  font-weight: bold;
  font-size: 16px;
  color: #3B3B3B;
}

.sellPagePaymentDestinationSectionParagraph {
  font-size: 14px;
  color: #7B7B7B;
}

.sellPagePaymentDestinationSectionParagraph.walletAddress {
  word-wrap: break-word;
}

.sellPagePaymentDestinationAddressPartContainer {
  width: 100%;
  padding: 0 5px;
}

.sellPagePaymentDestinationAddressPartContainer > .form-group > label {
  margin-left: 25px;
  color: #3B3B3B;
  font-size: 16px;
  font-weight: bold;
}

.sellPagePaymentDestinationAddressPartContainer > .form-group > input {
  color: #3B3B3B;
  font-size: 16px;
  padding: 15px 25px;
}

.sellPagePaymentDestinationAddressPartContainer > .form-group > input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7B7B7B;
  font-family: Raleway;
  font-size: 16px;
}

.sellPagePaymentDestinationAddressPartContainer > .form-group > input::-moz-placeholder { /* Firefox 19+ */
  color: #7B7B7B;
  font-family: Raleway;
  font-size: 16px;
}

.sellPagePaymentDestinationAddressPartContainer > .form-group > input:-ms-input-placeholder { /* IE 10+ */
  color: #7B7B7B;
  font-family: Raleway;
  font-size: 16px;
}

.sellPagePaymentDestinationAddressPartContainer > .form-group > input:-moz-placeholder { /* Firefox 18- */
  color: #7B7B7B;
  font-family: Raleway;
  font-size: 16px;
}

.sellPageSubmitButton {
  width: 100%;
  max-width: 275px;
  margin: 0 5px;
  background-color: #FC6422;
  color: white;
  font-family: Raleway-SemiBold;
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 15px 0;
}

.sellPageSubmitButton:active,
.sellPageSubmitButton:focus,
.sellPageSubmitButton:hover {
  background-color: rgba(252, 100, 34, 0.64) !important;
  outline: none !important;
  box-shadow: none !important;
}

.sellPageCancelButton {
  width: 100%;
  max-width: 275px;
  margin: 0 5px;
  background-color: #2283C6;
  color: white;
  font-family: Raleway;
  font-weight: bold;
  font-size: 14px;
  border: none;
  padding: 15px 0;
}

.sellPageCancelButton:active,
.sellPageCancelButton:focus,
.sellPageCancelButton:hover {
  background-color: #27a4f4 !important;
  outline: none !important;
  box-shadow: none !important;
}

.purchaseNodeAuthFormContainer > .signUpPageContainer,
.purchaseNodeAuthFormContainer > .logInPageContainer {
  min-height: unset !important;
  background-color: white !important;
}

/*Withdraw Page Style*/
.withdrawPageTitle {
  color: #3B3B3B;
  text-align: center;
}

.withdrawPageInformationPartContainer {
  margin: 0 auto;
  background-color: #EDEDED;
  padding: 20px 20px 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  /*margin: 30px 0 25px 0;*/
}

.withdrawInformationPartHeaderLabel {
  color: #3B3B3B;
  font-family: OpenSans-Bold;
  font-size: 14px;
  margin-bottom: 25px;
  line-height: 14px;
}

.withdrawInformationPartHeaderValue {
  color: #3B3B3B;
  font-family: OpenSans-Bold;
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 14px;
}

.withdrawInformationDivider {
  height: 1px;
  background-color: #D0D0D0;
  margin-bottom: 25px;
}

.withdrawInformationPartInfo {
  font-family: OpenSans;
  font-size: 14px;
  color: #7A7A7A;
  margin-bottom: 15px;
  line-height: 14px;
}

.withdrawPageAllButton {
  margin-left: 10px;
  margin-bottom: 21px;
  padding: 20px 10px !important;
}

.withdrawPageWithdrawButton {
  background-color: #FC6422;
  width: 100%;
}

.withdrawPageWithdrawButton:active,
.withdrawPageWithdrawButton:focus,
.withdrawPageWithdrawButton:visited,
.withdrawPageWithdrawButton:hover {
  background-color: rgba(252, 100, 34, 0.79) !important;
}

@media (max-width: 641px) {
  .purchasePageLinksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .purchasePageLinksContainer > a:first-child {
    margin-bottom: 20px;
  }

  .purchasePageMainContentContainer {
    padding: 30px 5px;
  }
}

@media (max-width: 500px) {
  .sellPageMainContentContainer,
  .withdrawPageMainContentContainer {
    padding: 15px 5px;
  }

  .purchaseNodeAuthPartTabs {
    min-width: 100%;
  }
}

.loadingSnipperContainer {
  margin: 0 auto;
}

.spinnerContainerWithdrawal {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}
