.cryptosTable {
  table-layout: fixed;
  max-width: 1170px !important;
  min-width: 1170px !important;
}

.cryptosTable > thead > tr > th > p {
  cursor: pointer;
}

.cryptosTable > thead > tr > th > svg {
  float: right;
  margin-top: 5px;
  cursor: pointer;
}

.cryptosTable > thead > tr > th > svg:hover {
  color: #d1d1d1;
}

.cryptosTable > thead > tr > th,
.cryptosTable > tbody > tr > td {
  padding: 10px 0.75rem !important;
}

.cryptosTable > tbody > tr > td,
.cryptosTable > tbody > tr > td > a {
  vertical-align: middle;
  font-family: 'Arimo-Regular';
  font-size: 18px;
  color: #7B7B7B;
}


.cryptosTable > tbody > tr > td > a:hover {
  text-decoration: none;
}

.cryptosTable > tbody > tr > td > a:hover > svg{
  color: #4360ff !important;
}

.cryptosTableHeaderRow {
  background-color: #F2F2F2;
}

.cryptosTableHeaderRow > th {
  font-family: 'DidactGothic-Regular';
  color: #3D58E7;
  font-size: 18px;
}

.addNodeButton {
  background-color: #FC6422;
  color: white !important;
  font-family: 'Raleway-SemiBold' !important;
  font-size: 16px !important;
  margin: 0 auto;
  letter-spacing: 1px;
  width: 155px;
  border: none;
}

.contactSalesButton {
  background-color: #2283C6;
  color: white !important;
  font-family: 'Raleway-SemiBold' !important;
  font-size: 16px !important;
  margin: 0 auto;
  letter-spacing: 1px;
  width: 155px;
  border: none;
}

.addNodeButton:focus,
.addNodeButton:visited,
.addNodeButton:active,
.addNodeButton:hover {
  background-color: rgba(252, 100, 34, 0.78) !important;
  color: white !important;
  outline: none !important;
  box-shadow: none !important;
}

.contactSalesButton:focus,
.contactSalesButton:visited,
.contactSalesButton:active,
.contactSalesButton:hover {
  background-color: #299be7 !important;
  color: white !important;
  outline: none !important;
  box-shadow: none !important;
}