.cryptosTable {
  table-layout: fixed;
  max-width: 1170px !important;
  min-width: 1170px !important;
}

.cryptosTable > thead > tr > th > svg {
  float: right;
  margin-top: 3.5px;
  cursor: pointer;

}

.cryptosTable > thead > tr > th > svg:hover {
  color: #d1d1d1;
}

.cryptosTable > thead > tr > th,
.cryptosTable > tbody > tr > td {
  padding: 30px 0.75rem !important;
}

.cryptosTable > tbody > tr > td,
.cryptosTable > tbody > tr > td > a {
  vertical-align: middle;
  font-family: 'Arimo-Regular';
  font-size: 18px;
  color: #7B7B7B;
}

.cryptosTableHeaderRow {
  background-color: #F2F2F2;
}

.cryptosTableHeaderRow > th {
  font-family: 'DidactGothic-Regular';
  color: #3D58E7;
  font-size: 15px;
}

.addNodeButton {
  border-radius: 50px;
  background-color: #3D58E7;
  color: white;
  font-family: 'Karla-Regular';
  font-size: 17px;
  padding: 15px 38px;
  margin: 0 auto;
  letter-spacing: 1px;
}

.addNodeButton:hover {
  background-color: #415cff;
}