.inputFieldContainer {
  padding: 21px 20px !important;
  position: relative;
  cursor: text;
}

.inputFieldContainerWithValue {
  padding: 31px 20px 12px 20px !important;
  position: relative;
}

.inputFieldContainerWithError {
  border: 1px solid #F2433D;
}

.inputFieldContainer > label {
  margin: 0;
  font-family: 'OpenSans';
  color: #7C7C7C;
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 21px;
}

.inputFieldContainer > input, ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7C7C7C;
  font-family: 'OpenSans';
}

.inputFieldContainer > input, ::-moz-placeholder { /* Firefox 19+ */
  color: #7C7C7C;
  font-family: 'OpenSans';
}

.inputFieldContainer > input, :-ms-input-placeholder { /* IE 10+ */
  color: #7C7C7C;
  font-family: 'OpenSans';
}

.inputFieldContainer > input, :-moz-placeholder { /* Firefox 18- */
  color: #7C7C7C;
  font-family: 'OpenSans';
}

.inputFieldContainer > input,
.inputFieldContainer > input:focus,
.inputFieldContainer > .Select,
.inputFieldContainer > .Select > .Select-control {
  border: none;
  box-shadow: none;
  padding: 0;
  font-size: 17px;
  line-height: 20px;
  max-height: 20px;
  font-family: 'OpenSans';
  color: #383838;
}

.inputFieldContainer > textarea,
.inputFieldContainer > textarea:focus {
  border: none;
  box-shadow: none;
  padding: 0;
  font-size: 17px;
  font-family: 'OpenSans';
  color: #424242;
}

.inputFieldContainer > .Select > .Select-control {
  max-height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: none !important;
}

.inputFieldContainer > .Select > .Select-control > span > .Select-value,
.inputFieldContainer > .Select > .Select-control > span > .Select-placeholder {
  padding: 0;
  line-height: 20px;
}

.inputFieldContainer:focus-within {
  -webkit-box-shadow: 0 0 0 0.1rem #2283C6;
  box-shadow: 0 0 0 0.1rem #2283C6;
}

.inputFieldMessage {
  font-family: 'OpenSans';
  color: #9D9D9D !important;
  font-size: 11px;
  margin-left: 21px;
  text-align: start;
}

.inputFieldErrorMessage {
  font-family: 'OpenSans';
  color: #F2433D !important;
  font-size: 11px;
  margin-left: 21px;
  text-align: start;
}

.withAddonInputFieldGroup {
  padding: 21px 30px 21px 20px;
}

.withAddonInputFieldGroup > input {
  border: none !important;
  box-shadow: none !important;
}

.withAddonInputFieldGroup > .input-group-append > .input-group-text {
  background-color: transparent;
  border: none;
}

.withAddonInputFieldGroup > .input-group-append {
  position: absolute;
  right: 0;
  top: 18px;
  z-index: 100;
}

.inputFieldContainerWithValue.withAddonInputFieldGroup > .input-group-append {
  top: 27px;
}

.withAddonInputFieldGroup > input:focus {
  border: none !important;
  box-shadow: none !important;
}

.inputFieldClickableAddon {
  cursor: pointer;
}

.withAddonInputFieldGroup.inputFieldContainerWithErrorMessage > .input-group-append {
  top: 8px;
}

.tooltipAddon  > .tooltip-inner {
  background-color: #F33D37;
}
.tooltipAddon  > .arrow:before {
  border-top-color: #F33D37;
}